html, body, #root {
  height: 100%;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background: #141414; /* Tüm sayfa aynı koyu */
  overflow-x: hidden;  
}

.ant-layout {
  background: #141414; 
}
